/*
 * Light green
 * INDIVIDUALS
 *
 * Need to relocate these colour schemes:
 * background-funding
 */
.background-funding,
.background-counselling,
.background-light-green {

  .elementor-shape-fill {
    fill: $light-green;
  }

  .page-title,
  .paragraph {
    background-color: $light-green;
    color: $white;
  }

  h1,
  h2,
  h3 {
    color: $white;
  }

  .paragraph a {
   color: $white;
    &:hover {
      color: $orange;
    }
  }

  .field--name-field-button .field__item:nth-child(3n + 1) a { background-color: $green;  color: $white;}
  .field--name-field-button .field__item:nth-child(3n + 2) a { background-color: $blue;   color: $white;}
  .field--name-field-button .field__item:nth-child(3n)     a { background-color: $orange; color: $white;}

  .field--name-field-button .field__item:nth-child(3n + 1) a:hover { background-color: darken($green,   10%);}
  .field--name-field-button .field__item:nth-child(3n + 2) a:hover { background-color: darken($blue,    10%);}
  .field--name-field-button .field__item:nth-child(3n)     a:hover { background-color: darken($orange,  10%);}
}



/*
 * Navy blue
 * EMPLOYERS
 */
.background-employers,
.background-resources,
.background-blue {

  .elementor-shape-fill {
    fill: $blue;
  }

  .page-title,
  .paragraph {
    background-color: $blue;
    color: $white;
  }

  h1,
  h2,
  h3 {
    color: $white;
  }

  .paragraph a {
    color: $white;
    &:hover {
      color: $orange;
    }
  }

  .field--name-field-button .field__item:nth-child(3n + 1) a { background-color: $green;  color: $white;}
  .field--name-field-button .field__item:nth-child(3n + 2) a { background-color: $blue;   color: $white;}
  .field--name-field-button .field__item:nth-child(3n)     a { background-color: $orange; color: $white;}

  .field--name-field-button .field__item:nth-child(3n + 1) a:hover { background-color: darken($green,   10%);}
  .field--name-field-button .field__item:nth-child(3n + 2) a:hover { background-color: darken($blue,    10%);}
  .field--name-field-button .field__item:nth-child(3n)     a:hover { background-color: darken($orange,  10%);}
}



/*
 * Yellow
 * TRAINING
 */
.background-training,
.background-yellow {

  .elementor-shape-fill {
    fill: $yellow;
  }

  .page-title,
  .paragraph {
    background-color: $yellow;
    color: $black;
  }

  h1,
  h2,
  h3 {
    color: $black;
  }

  .paragraph a {
    color: $black;
    &:hover {
      color: $orange;
    }
  }

  .field--name-field-button .field__item:nth-child(3n + 1) a { background-color: $dark-green; color: $white;}
  .field--name-field-button .field__item:nth-child(3n + 2) a { background-color: $blue;       color: $white;}
  .field--name-field-button .field__item:nth-child(3n)     a { background-color: $orange;     color: $white;}

  .field--name-field-button .field__item:nth-child(3n + 1) a:hover { background-color: darken($dark-green,  10%);}
  .field--name-field-button .field__item:nth-child(3n + 2) a:hover { background-color: darken($blue,        10%);}
  .field--name-field-button .field__item:nth-child(3n)     a:hover { background-color: darken($orange,      10%);}

}


/*
 * Dark green
 */
.background-other,
.background-dark-green {

  .elementor-shape-fill {
    fill: $dark-green;
  }

  .page-title,
  .paragraph {
    background-color: $dark-green;
    color: $white;
  }

  h1,
  h2,
  h3 {
    color: $white;
  }

  .paragraph a {
    color: $white;
    &:hover {
      color: $orange;
    }
  }

  .field--name-field-button .field__item:nth-child(3n + 1) a { background-color: $white;  color: $black;}
  .field--name-field-button .field__item:nth-child(3n + 2) a { background-color: $blue;   color: $white;}
  .field--name-field-button .field__item:nth-child(3n)     a { background-color: $orange; color: $white;}

  .field--name-field-button .field__item:nth-child(3n + 1) a:hover { background-color: darken($white,   10%);}
  .field--name-field-button .field__item:nth-child(3n + 2) a:hover { background-color: darken($blue,    10%);}
  .field--name-field-button .field__item:nth-child(3n)     a:hover { background-color: darken($orange,  10%);}
}



/*
 * Pastel green
 */
.background-pastel-green {

  .elementor-shape-fill {
    fill: $pastel-green;
  }

  .page-title,
  .paragraph {
    background-color: $pastel-green;
    color: $black;
  }

  h1,
  h2,
  h3 {
    color: $black;
  }

  .paragraph a {
    color: $black;
    &:hover {
      color: $orange;
    }
  }

  .field--name-field-button .field__item:nth-child(3n + 1) a { background-color: $light-green;  color: $white;}
  .field--name-field-button .field__item:nth-child(3n + 2) a { background-color: $blue;         color: $white;}
  .field--name-field-button .field__item:nth-child(3n)     a { background-color: $orange;       color: $white;}

  .field--name-field-button .field__item:nth-child(3n + 1) a:hover { background-color: darken($light-green,   10%);}
  .field--name-field-button .field__item:nth-child(3n + 2) a:hover { background-color: darken($blue,          10%);}
  .field--name-field-button .field__item:nth-child(3n)     a:hover { background-color: darken($orange,        10%);}
}



/*
 * Pastel yellow
 */
.background-pastel-yellow {

  .elementor-shape-fill {
    fill: $pastel-yellow;
  }

  .page-title,
  .paragraph {
    background-color: $pastel-yellow;
    color: $black;
  }

  h1,
  h2,
  h3 {
    color: $black;
  }

  .paragraph a {
    color: $black;
    &:hover {
      color: $orange;
    }
  }

  .field--name-field-button .field__item:nth-child(3n + 1) a { background-color: $dark-green; color: $white;}
  .field--name-field-button .field__item:nth-child(3n + 2) a { background-color: $blue;       color: $white;}
  .field--name-field-button .field__item:nth-child(3n)     a { background-color: $orange;     color: $white;}

  .field--name-field-button .field__item:nth-child(3n + 1) a:hover { background-color: darken($dark-green,  10%);}
  .field--name-field-button .field__item:nth-child(3n + 2) a:hover { background-color: darken($blue,        10%);}
  .field--name-field-button .field__item:nth-child(3n)     a:hover { background-color: darken($orange,      10%);}
}



/*
 * Pastel blue
 */
.background-pastel-blue {

  .elementor-shape-fill {
    fill: $pastel-blue;
  }

  .page-title,
  .paragraph {
    background-color: $pastel-blue;
    color: $black;
  }

  h1,
  h2,
  h3 {
    color: $black;
  }

  .paragraph a {
    color: $black;
    &:hover {
      color: $orange;
    }
  }

  .field--name-field-button .field__item:nth-child(3n + 1) a { background-color: $dark-green; color: $white;}
  .field--name-field-button .field__item:nth-child(3n + 2) a { background-color: $blue;       color: $white;}
  .field--name-field-button .field__item:nth-child(3n)     a { background-color: $orange;     color: $white;}

  .field--name-field-button .field__item:nth-child(3n + 1) a:hover { background-color: darken($dark-green,  10%);}
  .field--name-field-button .field__item:nth-child(3n + 2) a:hover { background-color: darken($blue,        10%);}
  .field--name-field-button .field__item:nth-child(3n)     a:hover { background-color: darken($orange,      10%);}

}



/*
 * White
 */
.background-white {

  .elementor-shape-fill {
    fill: $white;
  }

  .page-title,
  .paragraph {
    background-color: $white;
    color: $black;
  }

  h1,
  h2,
  h3 {
    color: $black;
  }

  .paragraph a {
    color: $black;
    &:hover {
      color: $orange;
    }
  }

  .field--name-field-button .field__item:nth-child(3n + 1) a { background-color: $dark-green; color: $white;}
  .field--name-field-button .field__item:nth-child(3n + 2) a { background-color: $blue;       color: $white;}
  .field--name-field-button .field__item:nth-child(3n)     a { background-color: $orange;     color: $white;}

  .field--name-field-button .field__item:nth-child(3n + 1) a:hover { background-color: darken($dark-green,  10%);}
  .field--name-field-button .field__item:nth-child(3n + 2) a:hover { background-color: darken($blue,        10%);}
  .field--name-field-button .field__item:nth-child(3n)     a:hover { background-color: darken($orange,      10%);}
}


/* Hide wavy lines if background-white as there is too much white space */
.background-white .shape-top,
.background-white .shape-bottom {
  display: none;
}

.background-white {
  // margin: 0;
  .paragraph--type--basic-text {
    padding: 0;
  }
}

