body.path-frontpage {
  #block-arun11-content {

    // Set the hero image
    // Fix background colour to dark green (although it maybe possible to make this dynamic? 
    article.node--type-landing-page {
      > .page-title-wrapper {
        position: relative;
        overflow: hidden;
        background-color: $dark-green;

        .shape-top    {top: 0px;}
        .shape-bottom {top: 0px;}
      }

      > .page-title-wrapper::before {
        content: '';
        position: absolute;
        top: 0;
        inset: 0;
        z-index: 0;
        background-image: url("/themes/custom/arun11/images/waves-background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        --background-overlay: '';
        background-position: center center;
        opacity: 0.1;
      }

      /* Place the text on top */
      .content-wrapper {
        position: relative;
        z-index: 2;
      }

      /* Make the SVGs part of the background shape */
      /* Had to rotate the shape and remove some keylines */
      .page-title-wrapper .shape-top,
      .page-title-wrapper .shape-bottom {
        line-height: 0;
        overflow: hidden;

        path {
          fill: $white;
        }

        svg {
          transform: scaleY(-1);
          transform-origin: 50% 50%;
        }
      }

      /* Custom front page banner button colours to match the themes of the target pages */
      .page-title-wrapper .field--name-field-button .field__item:nth-child(3n + 1) a { background-color: $pastel-green  !important; color: $black !important;}
      .field--name-field-button .field__item:nth-child(3n + 2) a { background-color: $pastel-blue   !important; color: $black !important;}
      .field--name-field-button .field__item:nth-child(3n)     a { background-color: $pastel-yellow !important; color: $black !important;}

      .field--name-field-button .field__item:nth-child(3n + 1) a:hover { background-color: darken($pastel-green,  10%) !important;}
      .field--name-field-button .field__item:nth-child(3n + 2) a:hover { background-color: darken($pastel-blue,   10%) !important;}
      .field--name-field-button .field__item:nth-child(3n)     a:hover { background-color: darken($pastel-yellow, 10%) !important;}
    }
  }
}
