header {
  .main-menu {
    ul.navbar-nav {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
    }
  }
}



#block-arun11-mainnavigation {

  /* TBM MENU MENU STRUCTURE */

  // Primary menu items
  .tbm {
    background-color: inherit;
    margin: 0 auto 0 auto;
  }

  .tbm-nav {
    justify-content: center;

    .tbm-item.level-1 {
      border-right: inherit;
      margin: 0 18px;
      font-weight: 500;
    }

    .tbm-link.level-1,
    .tbm-link.level-1:hover {
      color: $dark-green;
      font-weight: 500;
      font-size: 16px;
      text-decoration: inherit;
      background-color: inherit;
      padding: 5px 0 4px 0;
      border-bottom: 1px solid rgba(0,0,0,0);
      outline: none;
    }

    .active .tbm-link.level-1,
    .tbm-link.level-1:hover {
      border-bottom: 1px solid $dark-green;
    }

    .tbm-submenu-toggle {
      display: flex;
      justify-content: right;
      color: $dark-green;
      background-color: inherit;
      padding: 0;
      width: 27px;
      position: relative;
      top: 2px;
      outline: none;
    }

    .tbm-submenu-toggle:before {
      left: inherit;
    }
  }

  // Submenu
  .tbm-item.level-1 > .tbm-submenu {
    z-index: 1;
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #fffff8;
    isolation: isolate;
    border-radius: $border-radius;

    .tbm-link-container {
      display: inline-flex;
    }

    .tbm-link {
      color: $dark-green;
      font-size: 16px;
      text-decoration: inherit;
      margin: 5px 0 5px 0;
      padding: 3px 0 2px 0;
      border-bottom: 1px solid rgba(0,0,0,0);

      &:hover {
        border-bottom: 1px solid $dark-green;
      }
    }
  }

}


/* Second top-right navigation */
#block-arun11-secondarynavigation {
  ul.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;

    a.btn-book,
    a.btn-donate {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      border: 2px solid $dark-green;
      border-radius: $border-radius;
      color: $dark-green;
      font-size: 16px;
      line-height: 1;
      font-weight: $font-weight-bold;
      text-decoration: none;
      transition: background-color 150ms ease;
    }

    a.btn-book {
      &:hover {
        background-color: $dark-green;
        color: $white;
      }
    }

    a.btn-donate {
      background-color: $dark-green;
      color: $white;
      &:hover {
        background-color: darken($dark-green, 10%);
      }
    }

    a.btn-contact {
      color: $dark-green;
      font-size: 16px;
      font-weight: 500;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
      }
    }
  }

  // Hide icons on desktop
  svg {
    display: none;
  }
}


@media (min-width: 500px) and (max-width: 767px) {
  #block-arun11-secondarynavigation ul.nav {
    a.btn-book,
    a.btn-donate {
      padding: 10px 10px;
    }
  }
}

@media (max-width: 499px) {
  #block-arun11-secondarynavigation ul.nav {
    svg {
      display: block;
    }
    span {
      display: none;
    }

    a.btn-book,
    a.btn-donate,
    a.btn-contact {
      padding: 10px 5px;
      border: none;
      color: $dark-green;
      font-size: 28px;
      font-weight: inherit;
      text-decoration: none;
      background-color: inherit;

      &:hover {
        text-decoration: none;
        text-underline-offset: inherit;
        background-color: inherit;
        color: $black;
      }
    }
  }
}