nav.tabs-primary {
  ul {
    justify-content: center;
  }
}


.mm-page,
.mm-wrapper_background body {
  background-color: #fffff8;
}




main[role="main"] {
  margin-top: 50px;
  margin-bottom: 60px;
  
  .region-content {
    padding: 0;

    .field--name-field-media-image img {
      border-radius: $border-radius;
    }
  }
}


.page-title-wrapper {
  margin-bottom: 60px;

  .page-title {
    padding: 90px 0;

    .content-wrapper {
      max-width: 950px;
      padding: 0 30px;
      margin: 0 auto;
      text-align: center;
    }

    h1 {
      // font-size: 70px;
      font-size: clamp(40px, calc(6.10vw + 9.51px), 70px);
      letter-spacing: -1px;
      line-height: 1.1;
      margin: 0 0 30px 0;
    }
  }
}


/* Wavy lines */
.shape-top,
.shape-bottom {
  position: relative;
  svg {
    height: 28px;
    width: 100%;
  }
}

.shape-top    {top:  1px;}
.shape-bottom {top: -2px;}


/* Author information */
#author-wrapper {
  position: absolute;
  width: 100%;
  z-index: 10;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black;

  .author-image {
    margin-bottom: 15px;
    img {
      border-radius: 50%;
    }
  }

  .author-name {
    font-weight: $font-weight-bold;
  }
}


/* News content type */

$news-heading-scale: 0.8;

.page-node-type-news {
  #body-wrapper {
    max-width: 800px;
    margin: 90px auto 90px auto;

    h2 { font-size: $h2-font-size * $news-heading-scale; }
    h3 { font-size: $h3-font-size * $news-heading-scale; }
    h4 { font-size: $h4-font-size * $news-heading-scale; }
  }
}

