nav.tabs-primary {
  ul {
    justify-content: center;
  }
}

.alert {
    max-width: 850px;
    margin: 30px auto 30px auto;
}


.path-user {
  main[role=main] {
    .region-content {
      max-width: 600px;
      margin: 60px auto 90px auto;
      border: 1px solid $gray-200;
      padding: 20px;
      border-radius: $border-radius;
      box-shadow: 0px 0px 18px 9px rgba(0,0,0,0.12);
    }
  }
}



.mm-page,
.mm-wrapper_background body {
  background-color: $white;
}


main[role="main"] {
  margin-top: 90px;
  margin-bottom: 60px;
  
  .region-content {
    padding: 0;

    .field--name-field-media-image img {
      border-radius: $border-radius;
    }
  }
}


ol, ul, dl {
  margin-bottom: 2rem;
}


.page-title-wrapper {
  margin-bottom: 60px;

  .page-title {
    padding: 90px 0 80px 0;

    @media (max-width: 991px) {
      padding: 30px 0 45px 0;
    }

    .content-wrapper {
      max-width: 950px;
      padding: 0 30px;
      margin: 0 auto;
      text-align: center;
    }

    h1 {
      // font-size: 70px;
      font-size: clamp(40px, calc(6.10vw + 9.51px), 70px);
      letter-spacing: -1px;
      line-height: 1.1;
      margin: 0 0 45px 0;
    }

    .subtitle {
      margin: 0 0 45px 0;
    }

    .button {
      margin: 0;
      padding: 0;

      .field--name-field-button {
        margin: 0;
        padding: 0;
      }
    }
  }
}


/* Wavy lines */
.shape-top,
.shape-bottom {
  position: relative;
  svg {
    height: 28px;
    width: 100%;
  }
}


/* File attachments */
.field--name-field-attachments {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .field__item {
    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding: 0;
    }
  }
}


/* File download icons */
.file--x-office-document {
  background-image: inherit;

  &:before {
    display: flex;
    content: "\f56d";
    font-family: 'Font Awesome 6 Pro';
    color: $dark-green;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    margin-right: 10px;
  }  
}


/* Remove some an annoying keylines on the SVG */
.shape-top    {top:  1px;}
.shape-bottom {top: -2px;}


/* Author information */
#author-wrapper {
  position: absolute;
  width: 100%;
  z-index: 10;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black;

  .author-image {
    margin-bottom: 15px;
    img {
      border-radius: 50%;
    }
  }

  .author-name {
    font-weight: $font-weight-bold;
  }
}


/* Articles */
$article-heading-scale: 0.8;

.page-node-type-article {
  #body-wrapper {
    max-width: 800px;
    margin: 150px auto 90px auto;

    h2 { font-size: $h2-font-size * $article-heading-scale; margin: 2rem 0 1rem 0;}
    h3 { font-size: $h3-font-size * $article-heading-scale; margin: 2rem 0 1rem 0; }
    h4 { font-size: $h4-font-size * $article-heading-scale; margin: 2rem 0 1rem 0; }

    .field--name-field-media-image {
      margin-bottom: 1rem;
      img {
        border: 1px solid $gray-200;
      }
    }
  }
}


/* Individual staff pages */
.page-node-type-staff {
  .subtitle {
    margin: 0 !important;
  }
  .staff-profile {
    max-width: 650px;
    margin: 30px auto 90px auto;

    .image {
      text-align: center;
      margin-bottom: 60px;

      img {
        border-radius: 50%;
      }
    }
  }
}


/* Individual card pages */
.page-node-type-card {
  .subtitle {
    margin: 0 !important;
  }
  .card-content {
    max-width: 650px;
    margin: 30px auto 90px auto;

    .image {
      text-align: center;
      margin-bottom: 60px;
    }
  }
  .field--name-field-button a {
    background-color: $dark-green;
    color: $white;
    &:hover {
      background-color: darken($dark-green, 10%);
      color: $white !important;
    } 
  }
}