.view-news {
  max-width: 800px;
  margin: 0 auto 90px auto;
  padding: 0 20px;

  .view-header {
    width: 100%;
    text-align: center;
  }

  .views-row {
    margin-bottom: 60px;
  }

  .views-field-body {
    margin-bottom: 1rem;
  }
}